/* Variables */
$color-gray-primary: #cccccc;
$color-gray-border: #c4c4c4;

$height-navbar: 76px;

$space-32: 32px;
$space-24: 24px;
$space-16: 16px;
$space-12: 12px;

$SMALL_DEVICE_WIDTH: 425px;
$MIN_WIDTH: 375px;
$MAX_WIDTH: 1200px;
