.Navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  width: 100%;
  max-width: $MAX_WIDTH;
  margin-left: $space-24;
  margin-right: $space-24;
  background-color: $color-gray-primary;

  @media screen and (max-width: $SMALL_DEVICE_WIDTH) {
    margin-left: $space-12;
    margin-right: $space-12;
    height: 58px;
  }

  .Navbar-brand {
    font-weight: 600;
    font-size: 36px;
    line-height: 44px;
    color: white;

    @media screen and (max-width: $SMALL_DEVICE_WIDTH) {
      font-size: 18px;
      line-height: 22px;
    }
  }

  .Navbar-nav {
    display: flex;
    align-items: center;
    column-gap: 32px;
    margin: 0;
    padding: 0;
    list-style: none;

    @media screen and (max-width: $SMALL_DEVICE_WIDTH) {
      padding: 0 2px;
    }

    .Nav-item {
      .Nav-item__link {
        color: white;

        &:active {
          color: black;
        }
      }

      .Nav-text {
        display: block;

        @media screen and (max-width: $SMALL_DEVICE_WIDTH) {
          display: none;
        }
      }

      .Nav-icon {
        display: none;

        @media screen and (max-width: $SMALL_DEVICE_WIDTH) {
          display: flex;
          align-items: center;
          justify-content: center;
          width: 25px;
          height: 25px;
        }
      }
    }
  }
}

.Page-wrapper {
  display: flex;
  width: 100%;
  max-width: $MAX_WIDTH;
  margin-left: $space-24;
  margin-right: $space-24;

  @media screen and (max-width: $SMALL_DEVICE_WIDTH) {
    margin-left: $space-12;
    margin-right: $space-12;
  }
}

.Catalog {
  flex-direction: column;

  .Products__list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: grid;
    justify-content: center;
    row-gap: 24px; // TODO: fix scroll
    column-gap: 32px;
    grid-template-columns: repeat(auto-fill, minmax(calc($MIN_WIDTH - 2 * $space-12), 378px));

    .Products__list-item {
      width: 100%;
      height: 384px;
    }
  }
}

.Product-card {
  position: relative;

  .Product-card__image {
    margin-bottom: 10px;
    width: 100%;
    height: 250px;
  }

  .Product-card__title {
    margin-bottom: 8px;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
  }

  .Product-card__description {
    margin-bottom: 12px;
    font-size: 14px;
    line-height: 17px;

    color: #888888;
  }

  .Product-card__price {
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;

    color: #050505;
  }

  .Product-card__extra {
    position: absolute;
    top: 10px;
    right: 10px;
    display: flex;
    column-gap: 24px;

    .Product-card__extra-button {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 24px;
      height: 24px;
      background: none;
      border: none;
      margin: 0;
      padding: 0;
      cursor: pointer;
    }
  }
}

.Toolbar {
  display: flex;
  justify-content: end;
  max-width: $MAX_WIDTH;
  width: 100%;
  margin-bottom: 34px;
}

.Filter {
  position: relative;

  .Filter__select {
    box-sizing: border-box;
    width: 288px;
    padding: 8px 14px;
    border: 1px solid $color-gray-border;
    border-radius: 20px;
    font-family: 'Montserrat';
    font-style: normal;
    font-size: 16px;
    line-height: 20px;
    color: black;
    appearance: none;
    cursor: pointer;
  }

  &::after {
    content: url('../assets/icons/arrow-down-icon.svg');
    position: absolute;
    top: 50%;
    right: 22px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 10px;
    transform: translateY(-50%);
    cursor: pointer;
  }
}
